body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #004080;
    color: white;
    padding: 10px 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

h2 {
    color: #004080;
}

img {
    width: 300px;
    border-radius: 10px;
    margin: 10px;
}
