<!-- mini_fb/create_profile_form.html 
    display the HTML form to create a new Profile object.
-->
{% extends 'mini_fb/base.html' %}

{% block content %}
<h1>Create a New Profile</h1>

<form method="post">
    {% csrf_token %}

    <h3>Account Information</h3>
    {{ user_form.as_p }}  <!-- User registration form -->

    <h3>Profile Information</h3>
    {{ form.as_p }}  <!-- Profile creation form -->

    <button type="submit">Create Account & Profile</button>  <!-- The Submit button -->
</form>

{% endblock %}

