{% extends 'mini_fb/base.html' %}
{% load static %}

{% block content %}
    <h2>Profile Details</h2>
    <p><a href="{% url 'show_all_profiles' %}">Back to all profiles</a></p>
    <table border="1">
        <tr>
            <th>First Name</th>
            <td>{{ profile.firstName }}</td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td>{{ profile.lastName }}</td>
        </tr>
        <tr>
            <th>City</th>
            <td>{{ profile.city }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ profile.email }}</td>
        </tr>
        <tr>
            <th>Profile Image</th>
            <td>
                <img src="{{ profile.image_url }}" alt="{{ profile.firstName }}'s Profile Image" width="200">
            </td>
            
        </tr>
    </table>
{% endblock %}
