{% extends 'quotes/base.html' %}

{% block content %}
    <h2>About Muhammad Ali</h2>
    <p>Muhammad Ali (1942–2016) was an American professional boxer, widely regarded as one of the most significant and celebrated sports figures of the 20th century. Known for his boxing prowess, charismatic personality, and activism, Ali left an indelible mark on the world.</p>

    <h2>About the Creator</h2>
    <p>This web application was created by Arooj Kamran as part of a Django project.</p>
{% endblock %}
