
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotes App</title>
    <link rel="stylesheet" href="{% static 'quotes/styles1.css' %}">
</head>
<body>
    <header>
        <h1>Quotes by Muhammad Ali</h1>
        <nav>
            <a href="{% url 'quote' %}">Home</a> |
            <a href="{% url 'show_all' %}">Show All</a> |
            <a href="{% url 'about' %}">About</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>Page created by <a href="mailto:arooj@bu.edu">arooj@bu.edu</a></p>
    </footer>
    
</body>
</html>
